{% extends "layout.html" %}
{% block body %}
<div class="left-margin">
  <ul class=entries>
    <table id="music_library">
    {%- for item_id, item in music.iteritems() %}
      {%- if item[0] == "artist" %}
        <tr data-tt-id="{{ item_id }}">
          <td>{{ item[2] }}</td>
        </tr>
      {%- elif item[0] == "album" %}
        <tr data-tt-id="{{ item_id }}" data-tt-parent-id="{{ item[2] }}">
          <td><a href="_album_{{ item[1] }}" id="add">{{ item[3] }}</a></td>
        </tr>
      {%- elif item[0] == "track" %}
        <tr data-tt-id="{{ item_id }}" data-tt-parent-id="{{ item[2] }}">
          <td><a href="_track_{{ item[1] }}" id="add">{{ item[3]}}  {{ item[4] }}</a></td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </ul>
</div>

<div class=right-margin>
    <div id="track"></div>
    <p>
      <center>
        <span id="track_info"></span> <!-- track information -->
        <audio id="player" controls="controls">
          Time: <span id="current-time"></span>
          <source type="audio/mp3" src="" />
          <p>Your browser does not support the audio element.</p>
        </audio>
        <a href="#" id="prev"><</a> :: <a href="#" id="next">></a>
      </center>

  <hr>
  <ul class=entries>
    <span id="playlist">
      {% include 'playlist.html' %}
    </span>
  </ul>
</div>
{% endblock %}
