{% extends "layout.html" %}
{% block body %}
<div class="left-margin">
  <!-- {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %} -->

  <ul class=entries>
    <h2>Library</h2>
    <hr>
    <table id="music_library">
    {% for artist, art_id in artists.iteritems() %}
      <tr data-tt-id="{{ art_id }}">
        <td>{{ artist }}</td>
      </tr>
      {% for album, alb_id in albums.iteritems() %} {% if alb_id[1] == art_id %}
          <tr data-tt-id="{{ alb_id[0] }}" data-tt-parent-id="{{ alb_id[1] }}">
            <td>{{ album }}</td>
          </tr>
          {% for track, trk_id in tracks.iteritems() %}
          {% if trk_id[1][0] == alb_id[0] %}
              <tr data-tt-id="{{ trk_id[0] }}" data-tt-parent-id="{{ alb_id[0] }}">
                <td><a href="<{{ trk_id[2] }}>" id="add">{{ track }}</a></td>
              </tr>
    {% endif %} {% endfor %} {% endif %} {% endfor %} {% endfor %}

    </table>
  </ul>
</div>

<div class=right-margin>
    <div id="track"></div>
    <p>
      <center>
        <span id="track_info"></span> <!-- track information -->
        <audio id="player" controls="controls">
          Time: <span id="current-time"></span>
          <source type="audio/mp3" src="" />
          <p>Your browser does not support the audio element.</p>
        </audio>

        <p><a href="#" id="prev">prev</a> :: <a href="#" id="next">next</a>
        </p>
      </center>

  <h2><a href="/playlist">Playlist</a></h2>
  <hr>
  <ul class=entries>
    <span id="playlist">
    {% for item in playlist %}
    <li>[<a href="/play/{{ item.track }}">Play</a> /
      <a href="#{{ item.id }}" id="remove">Remove</a>]
      {{ item.artist }}: {{ item.title }}
      {% else %}
    <li><em>Empty playlist</em>
      {% endfor %}
    </span>
  </ul>
</div>
{% endblock %}
