{% extends "layout.html" %}
{% block body %}
<div class="left-margin">
  <!-- {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %} -->

  <ul class=entries>
    <h2>Library</h2>
    <hr>
    {% for entry in entries %}
    <li><h2>{{ entry.artist }}</h2>
      <a href="/album/{{ entry.artist}}/{{ entry.album }}">{{ entry.album|safe }}</a>
      {% else %}
    <li><em>Empty: No music</em>
      {% endfor %}
  </ul>
</div>

<div class=right-margin>
    <div id="track"></div>
    <p>
      <center>
        <span id=result></span> <!-- track information -->
        <audio id="player" controls="controls">
          Time: <span id="current-time"></span>
          <source type="audio/mp3" src="" />
          <p>Your browser does not support the audio element.</p>
        </audio>

        <p><a href="#" id="prev">prev</a> :: <a href="#" id="next">next</a>
        </p>
      </center>

  <h2><a href="/playlist">Playlist</a></h2>
  <hr>
  <ul class=entries>
    {% for item in playlist %}
    <li>[<a href="/play/{{ item.track }}">Play</a> /
      <a href="/remove/{{ item.id }}">Remove</a>]
      {{ item.artist }}: {{ item.title }}
      {% else %}
    <li><em>Empty playlist</em>
      {% endfor %}
  </ul>
</div>
{% endblock %}











