<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Supersonic</title>

  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='mediaelement-and-player.min.js') }}"></script>
  <script src="{{ url_for('static', filename='supersonic.js') }}" /></script>
  <script src="{{ url_for('static', filename='jquery.treetable.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaelementplayer.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.treetable.css') }}" />
</head>
  <header>
    <div class="head-left">
      <h1><a href="/">Supersonic</a></h1>
    </div>

    <div class="head-right">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>
  </header>

{% block body %}
{% endblock %}
