<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Supersonic</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='mediaelement-and-player.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='mediaelementplayer.min.css') }}" /></code>
</head>
  <header>
    <div class="head-left">
      <h1><a href="/">Supersonic</a></h1>
    </div>

    <div class="head-right">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>
  </header>

  <div class="left-margin">
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}

      {% block body %}
      {% endblock %}
  </div>

  <div class=right-margin>
    <h2><a href="/playlist">Playlist</a></h2>
    <hr>
    <ul class=entries>
    {% for item in playlist %}
      <li>[<a href="/play/{{ item.track }}">Play</a> /
        <a href="/remove/{{ item.id }}">Remove</a>]
        {{ item.artist }}: {{ item.title }}
        {% else %}
          <li><em>Empty playlist</em>
        {% endfor %}
    </ul>
  </div>
